# Universidade Estadual do Amazonas

## Pós Graduação em Ciência de Dados

## Fundamentos de Machine Learning

#### Alunos:
* Abner
* Emiliandro
* Samuel
* Wendel

Aplicação de Machine Learning em bases de dados metereológicos

Referências:    
    https://www.kaggle.com/abnerneves/estacao-met-manaus    
    http://bancodedados.cptec.inpe.br/

#### Importação de Bibliotecas

In [90]:
%%time
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from os import listdir
from os.path import isfile, join
import datetime as dt

Wall time: 0 ns

In [91]:
#Lista arquivos disponíveis 
files = [f for f in listdir(os.getcwd()) if isfile(join(os.getcwd(), f))]
files

['INMET_N_AM_A101_MANAUS_01-01-2001_A_31-12-2001.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2002_A_31-12-2002.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2003_A_31-12-2003.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2004_A_31-12-2004.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2005_A_31-12-2005.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2006_A_31-12-2006.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2007_A_31-12-2007.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2008_A_31-12-2008.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2009_A_31-12-2009.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2010_A_31-12-2010.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2011_A_31-12-2011.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2012_A_31-12-2012.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2013_A_31-12-2013.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2014_A_31-12-2014.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2015_A_31-12-2015.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2016_A_31-12-2016.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2017_A_31-12-2017.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2018_A_31-12-2018.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2019_A_31-12-2019.CSV',
 'INMET_N_AM_A101_MANAUS_01-01-2020_A_31-07-2020.CSV',
 'INMET_N_AM_A101_MANAUS_09-05-2000_A_31-12-2000.CSV',
 'previsao_tempo.ipynb',
 'README.md']

In [92]:
# Criando um Dataframe vazio para receber todos dos dados
# Create a empty Dataframe to store all data
df = pd.DataFrame()

In [93]:
%%time
# Lista para nomes das colunas, necessário retirar caracteres
# List of columns names, needed to extract all missing characters
renomear_colunas = ["DATA","HORA",
                    "PRECIP TOTAL",
                    "P ATM EST",
                    "P ATM MAX",
                    "P ATM MIN",
                    "RAD GLB",
                    "TEMP AR",
                    "TEMP ORV",
                    "TEMP MAX",
                    "TEMP MIN",
                    "TEMP ORV MAX",
                    "TEMP ORV MIN",
                    "UMID MAX",
                    "UMID MIN",
                    "UMID",
                    "VENTO DRC",
                    "VENTO RAJ MAX",
                    "VENTO VEL",
                    "Unnamed"]
# O ultimo item da lista, serve para capturar os dados que serão importados  já que cada linha dos arquivos terminam com ;
# The last item of the list is needed to catch all data, there is a wrong format in the source file

Wall time: 0 ns

In [94]:
%%time
# Percorre a lista de arquivos csv e fazendo o append no DataFrame
# Run through the file list, storing all data in the Dataframe
for i in files:
    if(i[-3:])=="CSV":
        df = df.append(pd.read_csv(i,sep=";", encoding="cp860", skiprows=8, names = renomear_colunas, header = 0),ignore_index = True)

Wall time: 1.18 s

In [95]:
# Excluindo coluna de lixo
# Deleting the last column
df.drop("Unnamed", axis=1, inplace = True)

In [96]:
df.columns

Index(['DATA', 'HORA', 'PRECIP TOTAL', 'P ATM EST', 'P ATM MAX', 'P ATM MIN',
       'RAD GLB', 'TEMP AR', 'TEMP ORV', 'TEMP MAX', 'TEMP MIN',
       'TEMP ORV MAX', 'TEMP ORV MIN', 'UMID MAX', 'UMID MIN', 'UMID',
       'VENTO DRC', 'VENTO RAJ MAX', 'VENTO VEL'],
      dtype='object')

In [97]:
%%time
# Altera , para . para converter de str para float
# Replace , to . to convert from str to float
df.replace(",",".", regex = True, inplace = True)

Wall time: 2.59 s

In [98]:
%%time
# Altera / para - para converter de str para datetime
# Replace / to - to convert from str to datetime
df["DATA"].replace("/","-", regex = True, inplace = True)

Wall time: 170 ms

In [99]:
%%time
# Uniformizando as horas
# Correct the hour format
df["HORA"].replace(" UTC","", regex = True, inplace = True)

Wall time: 149 ms

In [100]:
# Criando coluna com Data e Hora para criação do tipo Datetime
df["DATA_HORA"] = df["DATA"] +" " + df["HORA"]

In [101]:
%%time
# convertando para datetime
# Convert to Datetime
df["DATA_HORA"] = pd.to_datetime(df["DATA_HORA"], errors = "ignore", format="%Y-%m-%d %H:%M")

Wall time: 101 ms

In [102]:
# Ordenando
# Sorting
df.sort_values(by=["DATA_HORA"], inplace = True)

In [103]:
# Verificando a ordenação das datas
# Checking 

df['DATA_HORA']

171648   2000-05-09 00:00:00
171649   2000-05-09 01:00:00
171650   2000-05-09 02:00:00
171651   2000-05-09 03:00:00
171652   2000-05-09 04:00:00
                 ...
171643   2020-07-31 19:00:00
171644   2020-07-31 20:00:00
171645   2020-07-31 21:00:00
171646   2020-07-31 22:00:00
171647   2020-07-31 23:00:00
Name: DATA_HORA, Length: 177336, dtype: datetime64[ns]

In [104]:
%%time
# Altera os dados -9999 para NaN para uma melhor estratégia de substituição dos dados faltantes
# Replace -9999 to Nan
df.replace("-9999.000000", np.NaN, inplace=True)
df.replace("-9999", np.NaN, inplace=True)
df.replace(-9999, np.NaN, inplace=True)

Wall time: 179 ms

In [105]:
# Reset do index
df.reset_index(drop = True, inplace = True)
# Quando o reset_index é usado, o indice antigo é adiconado ao Dataframe como uma coluna, portanto precisa ser excluido utilizando o parametro drop = True

In [106]:
df.head()

,DATA,HORA,PRECIP TOTAL,P ATM EST,P ATM MAX,P ATM MIN,RAD GLB,TEMP AR,TEMP ORV,TEMP MAX,TEMP MIN,TEMP ORV MAX,TEMP ORV MIN,UMID MAX,UMID MIN,UMID,VENTO DRC,VENTO RAJ MAX,VENTO VEL,DATA_HORA
0,2000-05-09,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-09 00:00:00
1,2000-05-09,01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-09 01:00:00
2,2000-05-09,02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-09 02:00:00
3,2000-05-09,03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-09 03:00:00
4,2000-05-09,04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-09 04:00:00

In [107]:
%%time

df["PRECIP TOTAL"] = pd.to_numeric(df["PRECIP TOTAL"])

df["P ATM EST"] = pd.to_numeric(df["P ATM EST"])

df["P ATM MAX"] = pd.to_numeric(df["P ATM MAX"])

df["P ATM MIN"] = pd.to_numeric(df["P ATM MIN"])

df["RAD GLB"] = pd.to_numeric(df["RAD GLB"])

df["TEMP AR"] = pd.to_numeric(df["TEMP AR"])

df["TEMP ORV"] = pd.to_numeric(df["TEMP ORV"])

df["TEMP MAX"] = pd.to_numeric(df["TEMP MAX"])

df["TEMP MIN"] = pd.to_numeric(df["TEMP MIN"])

df["TEMP ORV MAX"] = pd.to_numeric(df["TEMP ORV MAX"])

df["TEMP ORV MIN"] = pd.to_numeric(df["TEMP ORV MIN"])

df["VENTO RAJ MAX"] = pd.to_numeric(df["VENTO RAJ MAX"])

df["VENTO VEL"] = pd.to_numeric(df["VENTO VEL"])

Wall time: 485 ms

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177336 entries, 0 to 177335
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DATA           177336 non-null  object
 1   HORA           177336 non-null  object
 2   PRECIP TOTAL   143744 non-null  float64
 3   P ATM EST      143104 non-null  float64
 4   P ATM MAX      142393 non-null  float64
 5   P ATM MIN      142393 non-null  float64
 6   RAD GLB        83423 non-null   float64
 7   TEMP AR        143830 non-null  float64
 8   TEMP ORV       143561 non-null  float64
 9   TEMP MAX       143185 non-null  float64
 10  TEMP MIN       143184 non-null  float64
 11  TEMP ORV MAX   142903 non-null  float64
 12  TEMP ORV MIN   142901 non-null  float64
 13  UMID MAX       142912 non-null  float64
 14  UMID MIN       142911 non-null  float64
 15  UMID           143563 non-null  float64
 16  VENTO DRC      137060 non-null  float64
 17  VENTO RAJ MAX  136726 non-null  float64
 18  VENTO VEL      137114 non-null  float64
 19  DATA_HORA      177336 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(17), object(2)
memory usage: 27.1+ MB

In [109]:
df.drop(['DATA', 'HORA'], inplace = True, axis = 1)

In [110]:
df['ano'] = df['DATA_HORA'].dt.year
df['mes'] = df['DATA_HORA'].dt.month
df['dia'] = df['DATA_HORA'].dt.day
df.drop("DATA_HORA", inplace = True, axis =1)

In [111]:
df.head()

,PRECIP TOTAL,P ATM EST,P ATM MAX,P ATM MIN,RAD GLB,TEMP AR,TEMP ORV,TEMP MAX,TEMP MIN,TEMP ORV MAX,TEMP ORV MIN,UMID MAX,UMID MIN,UMID,VENTO DRC,VENTO RAJ MAX,VENTO VEL,ano,mes,dia
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,5,9
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,5,9
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,5,9
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,5,9
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,5,9

In [112]:
df.dropna(inplace = True)

In [113]:
df.reset_index(drop = True, inplace = True)

In [114]:
df.head()

,PRECIP TOTAL,P ATM EST,P ATM MAX,P ATM MIN,RAD GLB,TEMP AR,TEMP ORV,TEMP MAX,TEMP MIN,TEMP ORV MAX,TEMP ORV MIN,UMID MAX,UMID MIN,UMID,VENTO DRC,VENTO RAJ MAX,VENTO VEL,ano,mes,dia
0,0.0,1002.6,1002.8,1002.6,386.0,29.4,23.1,29.8,29.4,23.3,22.6,69.0,65.0,69.0,96.0,2.9,0.8,2000,5,9
1,0.0,1002.8,1002.8,1002.5,184.0,26.9,24.1,29.5,26.9,24.3,22.8,85.0,68.0,84.0,184.0,1.9,0.1,2000,5,9
2,0.0,1006.8,1006.8,1006.3,207.0,25.2,24.5,25.2,23.9,24.5,23.5,98.0,96.0,96.0,270.0,1.0,0.3,2000,5,10
3,0.0,1007.7,1007.7,1006.8,745.0,27.1,25.2,27.4,25.2,25.2,24.5,96.0,85.0,89.0,204.0,1.1,0.4,2000,5,10
4,0.0,1008.3,1008.3,1007.8,916.0,28.1,23.8,28.1,26.9,25.6,23.8,91.0,78.0,78.0,64.0,1.5,0.7,2000,5,10

In [115]:
df_diario = df.groupby(['ano', 'mes', 'dia']).agg({"PRECIP TOTAL":np.sum,\
                                                  "P ATM EST":np.mean,\
                                                  "P ATM MAX":np.max,\
                                                  "P ATM MIN":np.min,\
                                                  "RAD GLB":np.mean,\
                                                  "TEMP AR":np.mean,\
                                                  "TEMP ORV":np.mean,\
                                                  "TEMP MAX":np.max,\
                                                  "TEMP MIN":np.min})

In [116]:
df_diario = df_diario.sort_index().reset_index().copy()

In [117]:
df_diario

,ano,mes,dia,PRECIP TOTAL,P ATM EST,P ATM MAX,P ATM MIN,RAD GLB,TEMP AR,TEMP ORV,TEMP MAX,TEMP MIN
0,2000,5,9,0.0,1002.700000,1002.8,1002.5,285.000000,28.150000,23.600000,29.8,26.9
1,2000,5,10,0.0,1005.491667,1008.3,1002.4,1597.666667,29.075000,23.675000,32.2,23.9
2,2000,5,11,0.0,1004.683333,1007.6,1001.7,1705.583333,29.175000,23.866667,31.3,24.0
3,2000,5,12,4.2,1004.191667,1006.5,1001.3,475.500000,25.641667,23.891667,27.8,24.0
4,2000,5,13,1.4,1004.150000,1006.8,1001.3,1193.416667,27.166667,23.658333,30.6,23.3
...,...,...,...,...,...,...,...,...,...,...,...,...
5904,2020,7,27,0.0,1005.550000,1007.4,1003.1,857.950000,29.786364,19.913636,34.4,24.9
5905,2020,7,28,0.0,1005.481818,1007.7,1003.5,525.536364,29.768182,20.363636,33.1,26.9
5906,2020,7,29,0.0,1006.181818,1007.8,1004.2,876.945455,29.568182,19.154545,34.3,24.3
5907,2020,7,30,0.0,1006.254545,1007.9,1004.1,860.227273,29.686364,15.786364,34.5,22.7
5908,2020,7,31,0.0,1005.918182,1007.7,1004.2,855.659091,29.850000,18.168182,35.3,24.6

In [118]:
target = df_diario["PRECIP TOTAL"].copy()

In [119]:
target_nm = target.copy()

In [120]:
target.replace(0.0, False, inplace = True)

In [121]:
target[target != False] = True

Pricipitação Total = 0 significa que não houve chuva, qualquer número maior que zero, houve chuva

In [122]:
target = target.astype("category")

In [123]:
target

0       False
1       False
2       False
3        True
4        True
        ...
5904    False
5905    False
5906    False
5907    False
5908    False
Name: PRECIP TOTAL, Length: 5909, dtype: category
Categories (2, object): [False, True]

In [125]:
df_diario.drop(["PRECIP TOTAL", "ano", 'mes', 'dia'], inplace = True, axis = 1)

## Dados Prontos para uso

In [126]:
df_diario.head()

,P ATM EST,P ATM MAX,P ATM MIN,RAD GLB,TEMP AR,TEMP ORV,TEMP MAX,TEMP MIN
0,1002.700000,1002.8,1002.5,285.000000,28.150000,23.600000,29.8,26.9
1,1005.491667,1008.3,1002.4,1597.666667,29.075000,23.675000,32.2,23.9
2,1004.683333,1007.6,1001.7,1705.583333,29.175000,23.866667,31.3,24.0
3,1004.191667,1006.5,1001.3,475.500000,25.641667,23.891667,27.8,24.0
4,1004.150000,1006.8,1001.3,1193.416667,27.166667,23.658333,30.6,23.3

In [79]:
target.head()

0    False
1    False
2    False
3     True
4     True
Name: PRECIP TOTAL, dtype: category
Categories (2, object): [False, True]

In [80]:
print(f"A base dados tem {df_diario.shape[0]} entrada")

A base dados tem 5909 entrada

In [81]:
target.value_counts()

False    3389
True     2520
Name: PRECIP TOTAL, dtype: int64

## Regressão Linear

In [82]:
%%time
from sklearn.model_selection import train_test_split

xtreino, xteste, ytreino, yteste = train_test_split(df_diario, target, test_size=0.3) #Utilizando 30% dos dados para teste
xtreino.shape, xteste.shape, ytreino.shape, yteste.shape

Wall time: 3.01 ms

((4136, 8), (1773, 8), (4136,), (1773,))

In [83]:
%%time
from sklearn.linear_model import LinearRegression
modelo = LinearRegression().fit(xtreino, ytreino)

Wall time: 3.01 ms

In [84]:
%%time
previsoes = modelo.predict(xteste)
previsoes[0:9]

Wall time: 2 ms

array([0.25230959, 0.33039177, 0.85965038, 0.31956467, 0.52098485,
       0.1356584 , 0.06727373, 0.70019291, 0.73512574])

In [85]:
%%time
modelo.score(xteste, yteste)

Wall time: 2 ms

0.39409174949588555

In [86]:
modelo.coef_

array([-6.27847904e-02,  3.37985894e-02,  1.06171198e-02, -1.48578791e-04,
       -1.69453288e-01,  3.91251641e-02,  6.11227981e-02, -1.02752034e-02])

## RandomTree

In [128]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [129]:
clf = RandomForestClassifier(max_depth=8, random_state=0)

In [130]:
clf.fit(df_diario,target_nm)

ValueError: Unknown label type: 'continuous'

## KNN